@import "header-menu.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
}

.destination {
    display: flex;
    justify-content: center;
    margin: 16px 0 32px 0;
}

.space-launch {
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 0 0 0 16px;
}

.number {
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
    opacity: 0.25;
    margin: 0;
}

.number-circle {
    color: #0B0D17;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

.number-circle-two {
    color: #FFF;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

.svg {
    display: flex;
    justify-content: center;
    margin: 34px 0 26px 0;
    gap: 16px;
}

.terminology {
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow Condensed, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 8px;
}

.launch-vehicle {
    color: #FFF;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.text {
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    padding: 16px 24px 0 24px
}