* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0 24px;
}

.destination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.number {
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
    opacity: 0.25;
}

.meet-crew {
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-left: 18px;
}

.crew {
    display: flex;
    justify-content: center;
    padding: 18px 0 0 0;
    margin: 0 auto;
}

.line {
    width: 327px;
    margin: 0 auto;
    height: 1px;
    background-color: #68696e;
}

.svg {
    display: flex;
    justify-content: center;
    padding: 32px 0 32px 0;
}

.commander {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.4951;
}

.name {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 8px 0 16px 0;
}

.info {
    display: flex;
    justify-content: center;
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}