* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("assets/destination/background-destination-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0 24px;
}

.menu-container {
    position: relative;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 254px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    backdrop-filter: blur(40px);
}

.menu-icon {
    cursor: pointer;
    padding: 15px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: background-color 0.3s ease;
}

.menu-items {
    list-style: none;
    padding: 118px 0 0 32px;
    margin: 0;
}

.menu-items li {
    padding: 0 0 32px 0;
    display: block;
}

.menu-items a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.menu-items .menu-number strong {
    margin-right: 12px;
}

.menu-number:hover {
    font-weight: bolder;
}

.destination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.pick-your {
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-left: 18px;
}

.number {
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
    opacity: 0.25;
}

.moon {
    display: flex;
    justify-content: center;
    padding: 18px 0 18px 0;
}

.destination-overview {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.word-moon {
    border-bottom: 3px solid #FFFFFF;
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
    color: #FFF;
    font-family: Barlow Condensed, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    text-align: center;
}

.word {
    color: #D0D6F9;
    font-family: Barlow Condensed, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.moon-header {
    color: #FFF;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 31px 0 0 0;
}

.moon-text {
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 0 0 32px 0;
    border-bottom: 1px solid #383B4B;
    width: 80%;
}

.moon-text-border {
    display: flex;
    justify-content: center;
}

.distance {
    display: flex;
    justify-content: center;
}

.distance span {
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow Condensed, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    padding: 32px 0 12px 0;
}

.distance-two {
    display: flex;
    justify-content: center;
}

.distance-two span {
    color: #FFF;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.travel-time {
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow Condensed, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    padding: 32px 0 12px 0;
}

.travel-days {
    color: #FFF;
    text-align: center;
    font-family: Bellefair, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.close-icon {
    display: none;
    cursor: pointer;
    padding: 34px 26px 0 0;;
    float: right;
}
