* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('assets/home/background-home-mobile.jpg');
    background-size: cover; /
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0 24px;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: barlow condensed, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #D0D6F9;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: bellefair, serif;
    font-size: 5rem;
    color: #FFFFFF;
}

.second-h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: barlow condensed, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #D0D6F9;
    line-height: 24px;
}